<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Farmenience Authentication Portal</title>
</head>
<body>
  <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #cf711f;text-decoration:none;font-weight:600">Password Reset</a>
    </div>
    <p style="font-size:1.1em">Hi,</p>
    <p>Forgot your Farmenience account password?! Worry not. Use the following OTP to reset your password. OTP is valid for 5 minutes</p>
    <h2 style="background: #cf711f;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{secret}}</h2>
    <p style="font-size:0.9em;">Regards,<br />Team Farmenience</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#979797;font-size:0.8em;line-height:1;font-weight:300">
      <p>Farmenience LLC</p>
      <p>CEG Tech Forum</p>
      <p>Chennai</p>
    </div>
    
  </div>
    <p style="color: #777777;margin: auto auto;width: max-content;padding: 0 10px;">Made with ♥ in India</p>
</div>
</body>
</html>